APP_ENV=production
CALL_APP_URL=https://tell.плюсчат.рф
CALL_WS_URL=wss://tell.плюсчат.рф/ws
CALL_DB_DSN=pgsql:host=127.0.0.1;port=5432;dbname=pluschat_calls
CALL_DB_USER=pluschat_calls
CALL_DB_PASSWORD=CHANGE_ME
CALL_SHARED_SECRET=CHANGE_ME
CALL_WS_PORT=8080
TURN_URL=turn:turn.плюсчат.рф:3478
TURN_USERNAME=CHANGE_ME
TURN_PASSWORD=CHANGE_ME
